* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}



.container1 {
        background-image: url("../images/banner.jpg"); 
        background-size: cover;
        filter: contrast(100%);
        overflow: hidden;
        background-attachment: fixed;
        background-repeat: no-repeat;

        
    
}
.top{
       
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
   
}

.logo {

    padding: 40px;
}

.menu {

    padding: 25px;
    text-shadow: 2px 1px #000;


    }

.aprendam {

    text-align: center;
    color: #FFF;
    text-shadow: 2px 2px #000;
    font-size: 52px;
    margin-top: 16%;
    
}
    

.botao {

    padding: 1%;
    color: #FFF;
    background-color: transparent;
    cursor: pointer;
    font-size: 25px;
    border-color: #FFF;
    border-style: solid;
    border-width: 3px; 
    font-weight: bold;
    margin-right: 2px;
    width: 285px; 
    margin-top: 2%;
    

}

.botao-est {

    background-color: #FF7F02;
    border-radius: 7px;
    width: 190px;
    height: 30px;
    margin-left: 13%;
    color: #fff;
    cursor: pointer;



}

.botao-est2 {

    background-color: #bf1630 ;
    border-radius: 7px;
    width: 190px;
    height: 30px;
    margin-left: 13%;
    color: #fff;
    cursor: pointer;



}


.botao-ver {

   background-color: #050301;
   color: #FFF;
   border-radius: 6px;
   border-style: none;
   width: 200px;
   height: 30px;
   margin-top: 3%;
   cursor: pointer;




}


.body1 {

    background-color: #FFF;
    width: 100%
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    margin-top: 17%;
    overflow: hidden;
    order-bottom-color: #AAA ;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;

}

/* */


.body2 {
    
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    margin-top: -5%;
    border-bottom-color: #AAA ;
    border-bottom-style: solid;
    border-bottom-width: 5px;

}

.body3 {
    
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    margin-top: -5%;
    
}


#img1 {

padding: 6% 1%;
float: left;


}

#img2 {

padding-left: 24%;

}

#img3 {

padding-left: 20%;

}

#img-html {

padding-left: 6%;

}

#img-for {

padding-left: 6%;
background-color: transparent;

}



.texto {

    font-size: 35px;
    color: #F16529;
    letter-spacing: 5px;
    padding: 7% 28% 0% 2%;
    text-align: justify;

}

.texto2 {

    font-size: 35px;
    color: #F16529;
    letter-spacing: 5px;
    padding: 7% 8% 0% 2%;
    

}

.text2 {

    font-size: 35px;
    color: #bf1630;
    letter-spacing: 5px;
    padding: 7% 8% 0% 2%;
    

}

.texto3 {

    color: #FFF;
    padding-left: 5%;
    font-size: 15px;

}

.texto4 {

    height: 0%;
    padding-left: 16%;

    font-size: 15px;

}





.line  {
outline: 1px solid;
color: #dce0e6;
margin-top: -10%;


}


.line2 {
outline: 1px solid;
color: #dce0e6;
margin-top: 3%;


}

.card{

padding-top: 5%;




}


#card1 {

    padding-top: 2%;
    background-color: #d65b41;
    border-style: solid;
    border-color: #b7b0b0;
    border-width: 3px;
    width: 260px;
    height: 330px;
    box-shadow: 5px 8px 11px #D9D9D9;
    margin-left: 40px;
    margin-bottom: 15px;
    float: left;

}

#card2 {

    padding-top: 2%;
    background-color: #d65b41;
    border-style: solid;
    border-color: #b7b0b0;
    border-width: 3px;
    width: 260px;
    height: 330px;
    box-shadow: 5px 8px 11px #D9D9D9;
    margin-left: 40px;
    margin-bottom: 15px;
    float: left;

}

#card3 {

    padding-top: 2%;
    background-color: #48B7E9;
    border-style: solid;
    border-color: #b7b0b0;
    border-width: 3px;
    width: 260px;
    height: 330px;
    box-shadow: 5px 8px 11px #D9D9D9;
    margin-left: 40px;
    margin-bottom: 15px;
    float: left;

}


#card4 {

    padding-top: 2%;
    background-color: #ffd558;
    border-style: solid;
    border-color: #b7b0b0;
    border-width: 3px;
    width: 260px;
    height: 330px;
    box-shadow: 5px 8px 11px #D9D9D9;
    margin-left: 40px;
    margin-bottom: 15px;
    float: left;

}

#card5 {

    padding-top: 2%;
    background-color: #cc0000;
    border-style: solid;
    border-color: #b7b0b0;
    border-width: 3px;
    width: 260px;
    height: 330px;
    box-shadow: 5px 8px 11px #D9D9D9;
    margin-left: 40px;
    margin-bottom: 15px;
    float: left;

}

#card6 {

    padding-top: 2%;
    background-color: #bd1430;
    border-style: solid;
    border-color: #b7b0b0;
    border-width: 3px;
    width: 260px;
    height: 330px;
    box-shadow: 5px 8px 11px #D9D9D9;
    margin-left: 40px;
    margin-bottom: 15px;
    float: left;

}

#card7 {

    padding-top: 2%;
    background-color: #9320ff;
    border-style: solid;
    border-color: #b7b0b0;
    border-width: 3px;
    width: 260px;
    height: 330px;
    box-shadow: 5px 8px 11px #D9D9D9;
    margin-left: 40px;
    margin-bottom: 15px;
    float: left;

}

#card8 {

    padding-top: 2%;
    background-color: #b12a3f;
    border-style: solid;
    border-color: #b7b0b0;
    border-width: 3px;
    width: 260px;
    height: 330px;
    box-shadow: 5px 8px 11px #D9D9D9;
    margin-left: 40px;
    margin-bottom: 15px;
    float: left;

}




.inf {

    background-color: #FFF;
    width: 260px;
    height: 85px;
    margin-top: 0px;


}

.inf3 {

    background-color: #FFF;
    width: 260px;
    height: 87px;
    margin-top: 0px;


}

.inf5 {

    background-color: #FFF;
    width: 260px;
    height: 80px;
    margin-top: 0px;


}

.inf6 {

    background-color: #FFF;
    width: 260px;
    height: 80px;
    margin-top: 0px;


}

.inf8 {

    background-color: #FFF;
    width: 260px;
    height: 80px;
    margin-top: 0px;


}

footer {
    background-image: url("../images/fo3.jpeg"); 
    filter: contrast(100%);
    height: 80px;
    padding: 2%;
}


.esp {


    background-color: transparent;
    height: 20%;
    float: left;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 70px;
}


article {
    color: #5e5858;
    padding: 3% 0% 12%;
    font-size: 18px;
    width: 95%;
    margin-right: 0% 20%;
    text-align: justify;
    
}


strong, b {
    font-weight: bold;
}
a {
    color: white;
    text-decoration: none;
}

nav {
    margin-top: 0px;
    float: right;

}

nav li {
    display: inline-block;
    padding: 15px;
    font-size: 18px;
}

body {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    color: #fff;
}

body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

#alerta {
    width: 400px;
    background-color: #eddfdf;
    border: 1px solid #ccc;
    margin: 40px auto;
    cursor: move;
    position: absolute;
    left: calc(50% - 200px);
}



#alerta .title{
    background-color: #329596;
    height: 30px;
    border-bottom: 1px solid #227374;
    text-transform: uppercase;
    padding: 10px 10px 0px 0px;
    text-align: center;
    color: #000;
    text-shadow: 1px 1px 1px #6fabac;
}

#alerta .title i{
    float: right;
    padding-top: 3px;

}

#alerta .body{
    padding: 10px;
}

form button{
    display: block;
    padding: 4px 11px;
    border: 1px solid #ffcc00;
    background-color: #ffcc00 !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc00), color-stop(100%,#ff6600)) !important;
    background: -webkit-linear-gradient(top, #ffcc00, #ff6600) !important;
    background: -moz-linear-gradient(top, #ffcc00, #ff6600) !important;
    background: -ms-linear-gradient(top, #ffcc00, #ff6600) !important;
    background: -o-linear-gradient(top, #ffcc00, #ff6600) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff6600',GradientType=0 );
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 #666;
    cursor:pointer;
    position: relative;
    margin: 10px auto;
}

input[type=text]{   
    height: 34px;
    width: 315px;
    padding: 2px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#alerta .resultado{
    color: #000;
    font-size: 12px;
}


#contador {
    color: #227210;
    text-align: center;
}

#text_card1 {
  
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.4);
  margin:10px 10px 10px;
  width: 30%;
  padding:10px;
  text-shadow: 2px 2px #000;
  border:1px solid #fff;
  border-radius: 5px;

}

#text_card2 {

  color: #FFF;
  background-color: rgba(0, 0, 0, 0.4);
  margin:10px 10px 10px;
  width: 30%;
  padding:10px;
  text-shadow: 2px 2px #000;
  border:1px solid #fff;
  border-radius: 5px;

}

#text_card3 {

  color: #000;
  padding:2%;


}



.hidden {

display: none;  

}


.tooltip {
    position: relative;
    display: inline-block;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background: #FF7F02;
    background:-webkit-linear-gradient(top,#FF7F02,#FF7F02);
    background:-moz-linear-gradient(top,#FF7F02,#FF7F02);
    background:-ms-linear-gradient(top, #FF7F02,#FF7F02);
    background:-o-linear-gradient(top,#FF7F02,#FF7F02);
    background:linear-gradient(top,#FF7F02, #FF7F02);
    color: #fff;
    margin-bottom: : -120%; 
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 15%;
    left: 30%;
    margin-left: -90px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext2 {
    visibility: hidden;
    width: 100%;
    background: #FF7F02;
    background:-webkit-linear-gradient(top,#bf1630,#bf1630);
    background:-moz-linear-gradient(top,#bf1630,#bf1630);
    background:-ms-linear-gradient(top, #bf1630,#bf1630);
    background:-o-linear-gradient(top,#bf1630,#bf1630);
    background:linear-gradient(top,#bf1630, #bf1630);
    color: #fff;
    margin-bottom: : -120%; 
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 15%;
    left: 30%;
    margin-left: -90px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #FF7F02  transparent transparent transparent;
}

.tooltip .tooltiptext2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #bf1630  transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip:hover .tooltiptext2 {
    visibility: visible;
    opacity: 1;
}